$primary: #fcdbc0;
$mat_orange: #fcdbc0 !default;
$light_orange: #fcdbc0 !default;
$shinny_orange: #f46322 !default;
$mat_purple: #663ee6 !default;
$light_purple: #f4f5ff !default;
$shinny_purple: #6a41ff !default;
$bg_orange: #f46322 !default;
$news_purple: #6747c7 !default;
