.privacy-policy-page {
  h2 {
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
  }
  p{
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  ul{
    list-style-type: circle;
    list-style-position: outside;
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;
  }
}
